.news {
    .news__preview {
        height: 400px;

        @media (max-width: 768px) {
            /* Ajuste: Uso de @media para media queries */
            height: 250px;
        }
    }

    p {
        text-indent: 30px;
        /* Mejora: Sangría para los párrafos */
    }

    .news__input {
        height: 69px;
        /* Mejora: Altura fija para la entrada de noticias */
    }
}