.notification {
    @apply relative text-slate-600;

    &.notification--light {
        @apply text-white/70;
        /* Mejora: Ajuste de color de texto para la versión ligera de la notificación */
    }

    .notification__icon {
        @apply w-5 h-5;
        /* Mejora: Tamaño del icono dentro de la notificación */
    }

    &.notification--bullet:before {
        content: "";
        width: 8px;
        height: 8px;
        @apply rounded-full absolute top-[-2px] right-0 bg-danger;
        /* Mejora: Estilos para la bala de notificación */
    }
}